
form.signup,
form.login {
  margin-top: 50px;
}
#tutor {
  display: block;
  margin:auto;
}
#student {
  display: none;
  margin:auto;
}
#navId {
  background-color: black;
  height: 60px;
}
.headertext {
  font-family: "Times new roman", "Times", "serif";
}
.article {
  font-family: "Arial", "san-serif";
}
.button {
  transition-duration: 0.4s;
  cursor: pointer;
  height: 58px;
  width: 100px;
  color: white;
  background-color: black;
}
.button:hover {
  background-color: darkgray;
}
#contentPanel{
  margin:auto;
}
.jumbotron{
  left:10%;
  right:10%;
  
}
.session{
  border-style: solid;
  
  border-color: black;
  
  
}
.addBut{
  
  float:right;
  background-color: brown;
}
.descpt{
  width:50%;
  left:25%;
  border-color: black;
  
  
}
.display-3{
  text-align: center;
}
.card-title{
  text-align:center;
}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}

.modal-input{
  width:75%;
  margin-left:10%;
}
.modal-label{
  margin-left: 8%;
}