form.signup,
form.login {
  margin-top: 50px;
}
#tutor {
  display: block;
}
#student {
  display: none;
}
#navId {
  background-color: black;
  height: 60px;
}
.headertext {
  font-family: "Times new roman", "Times", "serif";
}
.article {
  font-family: "Arial", "san-serif";
}
.button {
  transition-duration: 0.4s;
  cursor: pointer;
  height: 58px;
  width: 100px;
  color: white;
  background-color: black;
}
.button:hover {
  background-color: darkgray;
}
